/* ===== == = === Base Styles === = == ===== */


/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width : 20em) {

	@font-face {
		font-family: avenirNextBold;
	    src: url(../fonts/AvenirNextLTPro-Heavy.otf);
	}

	@font-face {
		font-family: avenirNextUltraLight;
	    src: url(../fonts/AvenirNextLTPro-UltLt.otf);  
	}

	/* for everything */

	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}

	html , body {
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: #E74A64;

	}

	/* for this query */

	.mac-app-icon-row {
		background-color: white;
	}

	.mac-app-icon-div {
		background-color: white;
	}

	.mac-app-icon {
		width: 150px;
		padding-bottom: 50px;
		padding-top: 50px;
		background-color: white;
	}

	.mac-app-copy {
		font-family: avenirNextUltraLight;
		color: #E74A64;
		font-size: 35px;
		padding-bottom: 50px;
	}

	.down-arrow {
		width: 20px;
		padding-bottom: 50px;
	}

	.friend-section {
		background-color: #E74A64;
	}

	.friend-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 50px;
	}

	.friend-copy-title {
		font-family: avenirNextBold;
		font-size: 30px;
	}

	.friend-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 30px;
	}

	.friend-gif {
		width: 300px;
		margin-top: -20px;
		position: relative;
		right: 5px;

	}

	.mom-section {
		background-color: #E74A64;

	}

	.mom-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 50px;

	}

	.mom-copy-title {
		font-family: avenirNextBold;
		font-size: 30px;
	}

	.mom-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 30px;
	}

	.mom-gif {
		width: 300px;
		margin-top: -20px;
		position: relative;
		right: 5px;
	}

	.buy-section {
		background-color: #E74A64;
	}

	.buy-div {
		background-color: #E74A64;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.buy-button {
		height: 250px;
		width: 250px;
		border-color: white;
		border: 1px;
		border-style: solid;
		background-color: transparent;
		display: inline;
		border: 1px solid #FFF;
		color: white;
		border-radius: 8px;
		padding-top: 20px;
	}

	.buy-copy-title {
		font-family: avenirNextBold;
		font-size: 20px;
	}

	.buy-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 20px;
	}

	.buy-link {
		text-decoration: none;
		color: #fff;
	}

	.buy-link:hover {
		text-decoration: none;
		color: #fff;
	}

	.made {
		padding-bottom: 120px;
		width: 250px;
	}

}

/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width : 30em) {
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {
}

/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width : 48em) {

	.mac-app-icon-row {
		background-color: white;
	}

	.mac-app-icon-div {
		background-color: white;
		padding-bottom: 300px;
		padding-top: 200px;
	}

	.mac-app-icon {
		width: 150px;
		padding-bottom: 50px;
		padding-top: 50px;
		background-color: white;
	}

	.mac-app-copy {
		font-family: avenirNextUltraLight;
		color: #E74A64;
		font-size: 35px;
		padding-bottom: 50px;
	}

	.down-arrow {
		width: 20px;
		padding-bottom: 50px;
	}

	.friend-section {
		background-color: #E74A64;
	}

	.friend-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 175px;
	}

	.friend-copy-title {
		font-family: avenirNextBold;
		font-size: 30px;
	}

	.friend-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 30px;
	}

	.friend-gif {
		width: 300px;
		margin-top: -20px;
		position: relative;
		right: 5px;

	}

	.mom-section {
		background-color: #E74A64;

	}

	.mom-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 175px;

	}

	.mom-copy-title {
		font-family: avenirNextBold;
		font-size: 30px;
	}

	.mom-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 30px;
	}

	.mom-gif {
		width: 300px;
		margin-top: -20px;
		position: relative;
		right: 5px;
	}

	.buy-section {
		background-color: #E74A64;
	}

	.buy-div {
		background-color: #E74A64;
		padding-top: 300px;
		padding-bottom: 200px;
	}

	.buy-button {
		height: 250px;
		width: 250px;
		border-color: white;
		border: 1px;
		border-style: solid;
		background-color: transparent;
		display: inline;
		border: 1px solid #FFF;
		color: white;
		border-radius: 8px;
		padding-top: 20px;
	}

	.buy-copy-title {
		font-family: avenirNextBold;
		font-size: 20px;
	}

	.buy-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 20px;
	}

	.made {
		padding-bottom: 120px;
		width: 350px;
	}

}

/* ===== == = === 56.25em (900px) 2 Columns === = == ===== */

@media only screen and (min-width : 62em) {

	.mac-app-icon-row {
		background-color: white;
	}

	.mac-app-icon-div {
		background-color: white;
	}

	.mac-app-icon {
		width: 150px;
		padding-bottom: 50px;
		padding-top: 50px;
		background-color: white;
	}

	.mac-app-copy {
		font-family: avenirNextUltraLight;
		color: #E74A64;
		font-size: 35px;
		padding-bottom: 50px;
	}

	.down-arrow {
		width: 20px;
		padding-bottom: 50px;
	}

	.friend-section {
		background-color: #E74A64;
		padding-top: 600px;
	}

	.friend-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 300px;
	}

	.friend-copy-title {
		font-family: avenirNextBold;
		font-size: 30px;
		padding-top: 50px;
	}

	.friend-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 30px;
	}

	.friend-gif {
		width: 300px;
		margin-top: -20px;
		position: relative;
		right: 5px;

	}

	.mom-section {
		background-color: #E74A64;
		padding-top: 600px;
	}

	.mom-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 300px;
	}

	.mom-copy-title {
		font-family: avenirNextBold;
		font-size: 30px;
		padding-top: 50px;
	}

	.mom-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 30px;
	}

	.mom-gif {
		width: 300px;
		margin-top: -20px;
		position: relative;
		right: 5px;
	}

	.buy-section {
		background-color: #E74A64;
	}

	.buy-div {
		background-color: #E74A64;
		padding-top: 300px;
		padding-bottom: 100px;
		padding-bottom: 200px;
	}

	.buy-button {
		height: 250px;
		width: 250px;
		border-color: white;
		border: 1px;
		border-style: solid;
		background-color: transparent;
		display: inline;
		border: 1px solid #FFF;
		color: white;
		border-radius: 8px;
		padding-top: 20px;
	}

	.buy-copy-title {
		font-family: avenirNextBold;
		font-size: 20px;
	}

	.buy-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 20px;
	}

}

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width : 68.75em) {
		
}

/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width : 81.25em) {

	.mac-app-icon-row {
		background-color: white;
	}

	.mac-app-icon-div {
		background-color: white;
		height: 900px;
	}

	.mac-app-icon {
		width: 150px;
		padding-bottom: 50px;
		padding-top: 50px;
		background-color: white;
	}

	.mac-app-copy {
		font-family: avenirNextUltraLight;
		color: #E74A64;
		font-size: 35px;
		padding-bottom: 50px;
	}

	.down-arrow {
		width: 20px;
		padding-bottom: 50px;
	}

	.friend-section {
		background-color: #E74A64;
		margin-top: 500px;
	}

	.friend-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 50px;
	}

	.friend-copy-title {
		font-family: avenirNextBold;
		font-size: 40px;
		padding-top: 50px;
	}

	.friend-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 35px;
	}

	.friend-gif {
		width: 400px;
		margin-top: -20px;
		position: relative;
		right: 5px;

	}

	.mom-section {
		background-color: #E74A64;
	}

	.mom-copy-div {
		text-align: center;
		background-color: #E74A64;
		color: white;
		padding-top: 50px;
	}

	.mom-copy-title {
		font-family: avenirNextBold;
		font-size: 40px;
		padding-top: 50px;
	}

	.mom-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 35px;
	}

	.mom-gif {
		width: 400px;
		margin-top: -20px;
		position: relative;
		right: 5px;
	}

	.buy-section {
		background-color: #E74A64;
	}

	.buy-div {
		background-color: #E74A64;
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.buy-link {
		text-decoration: none;
		color: #fff;
	}

	.buy-link:hover {
		text-decoration: none;
		color: #fff;
	}

	.buy-button {
		height: 250px;
		width: 250px;
		border-color: white;
		border: 1px;
		border-style: solid;
		background-color: transparent;
		display: inline;
		border: 1px solid #FFF;
		color: white;
		border-radius: 8px;
		padding-top: 20px;
	}

	.buy-copy-title {
		font-family: avenirNextBold;
		font-size: 20px;
	}

	.buy-copy-subtext {
		font-family: avenirNextUltraLight;
		font-size: 20px;
	}
}