html {
	height: 100%;
	background: #1ad6fd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzFhZDZmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDYyZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1ad6fd 1%, #1d62f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1ad6fd), color-stop(100%,#1d62f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1ad6fd 1%,#1d62f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1ad6fd 1%,#1d62f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1ad6fd 1%,#1d62f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1ad6fd 1%,#1d62f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ad6fd', endColorstr='#1d62f0',GradientType=0 ); /* IE6-8 */
}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(font/MyriadPro-Regular.otf);
}

@font-face {
    font-family: HelveticaNeue-Thin;
    src: url(font/HelveticaNeue-Thin.otf);
}

@font-face {
    font-family: HelveticaNeue-UltraLight;
    src: url(font/HelveticaNeue-UltraLight.otf);
}

@font-face {
    font-family: AvenirNextLTPro-UltLt;
    src: url(font/AvenirNextLTPro-UltLt.otf);
}

#logo {
	margin-top: 37px;
	width:80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	margin-top: -29px;
	padding-left: 2px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#email {
	margin-top: 150px;
	width: 258px;
	display: inline-block;
	background: none;
	font-size: 31px;
	border: 2px solid #fff;
	color: #fff;
	font-family: "AvenirNextLTPro-UltLt";
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 41px;
}

::-webkit-input-placeholder {
   color: white;
}

input:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   opacity: 1;
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

h1 {
	position: relative;
	text-align: center;
	font-size: 31px;
	margin-top: 130px;
	color: #fff;
  	z-index: 10000;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "AvenirNextLTPro-UltLt";
    font-weight: 300;
}

h2 {
	position: relative;
	text-align: center;
	font-size: 31px;
	margin-top: 27px;
	color: #fff;
  	z-index: 10000;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "AvenirNextLTPro-UltLt";
    font-weight: 300;
}

#text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -233px;
	padding-bottom: 13px;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

.round-button-f {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 64px;
	height: 0px;
	padding-bottom: 63px;
	border-radius: 50%;
	border: 2px solid #f5f5f5;
	overflow: hidden;
	background: transparent;
	box-shadow: 0 0 3px gray;
}
.round-button-f:hover {
    background: #fff;
}
.round-button-f img {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15px;
	padding-top: 16px;
}

.round-button-t {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 64px;
	height: 0px;
	padding-bottom: 63px;
	border-radius: 50%;
	border: 2px solid #f5f5f5;
	overflow: hidden;
	background: transparent;
	box-shadow: 0 0 3px gray;
}
.round-button-t:hover {
    background: #fff;
}
.round-button-t img {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32px;
	padding-top: 19px;
}

.round-button-e {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 64px;
	height: 0px;
	padding-bottom: 63px;
	border-radius: 50%;
	border: 2px solid #f5f5f5;
	overflow: hidden;
	background: transparent;
	box-shadow: 0 0 3px gray;
}
.round-button-e:hover {
    background: #fff;
}
.round-button-e img {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	padding-top: 21px;
}

div.inline { float:left; }
.clearBoth { clear:both; }

.center {
	display: block;
    margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.circles {
	margin-left: 20px;
	margin-right: 20px; 
}

.round-button-c {
	margin-top: 23px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 164px;
	height: 0px;
	padding-bottom: 63px;
	border-radius: 33px;
	border: 2px solid #f5f5f5;
	overflow: hidden;
	background: transparent;
	box-shadow: 0 0 3px gray;
	text-align: center;
}
.round-button-c:hover {
    background: #fff;
}
.round-button-c a{
    display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 24px;
	font-family: "AvenirNextLTPro-UltLt";
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

