html,body{
    overflow:hidden;
}

.noscroll {
	overflow: hidden;
}

.container-fluid {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.full {
	width: 1440px;
	height: 779px;
}

.fullscreen1 {
	background-color: 000;
}

.circle {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background-color: #4A90E2;
	margin-top: 50px;
	margin-left: 50px;
}
.navbar {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	margin-top: -62px;
}

ul {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: avenirNextUltraLight;
    font-size: 35px;
}

li {
    display: inline-block;
    margin: 20px;
}

li > a {
	color: #979797;
}

.gap1 {
	margin-top: 118px;
}

.devices {
	display: inline;
}

.devices-container {
	text-align: center;
}

.desktop-watch {
	margin-right: 100px;
	margin-left: 25px;
	width: 180px;
}

.desktop-mobile {
	width: 220px;
}

.desktop-web {
	margin-left: 73px;
	width: 240px;
	margin-bottom: 40px;
}

.device-names {
	display: inline;
	text-align: center;
	position: relative;
	top: -271px;
}

.device-names > ul > li {
	margin-right: 180px;
	text-align: center;
	color: #979797;
}

.watch-text {
	margin-left: 151px
}

.web-text {

}

.fullscreen2 {
	background-color: #4A90E2;
}

@font-face {
	font-family: avenirNextBold;
    src: url(../fonts/AvenirNextLTPro-Heavy.otf);
}

@font-face {
	font-family: avenirNextUltraLight;
    src: url(../fonts/AvenirNextLTPro-UltLt.otf);  
}

.title {
	font-family: avenirNextBold;
	font-size: 50px;
	color: #FFF;
	margin-top: 50px;
	margin-left: 50px; 
}

.gap2 {
	margin-top: 140px;
}

.love-text {
	font-family: avenirNextUltraLight;
	font-size: 27px;
	color: #FFF;
	margin-top: 20px;
}

.fullscreen3 {
	background-color: #23F582;
}

.gap3 {
	margin-top: 90px;
}

.referral-pic {
	width: 95px;
}

.referral-name {
	font-family: avenirNextUltraLight;
	color: #FFF;
	font-size: 30px;
	margin-top: 20px;
}

.referral-text {
	font-family: avenirNextUltraLight;
	color: #FFF;
	font-size: 50px;
	margin-top: 6px;
	position: absolute;
}

.app-div {
	position: absolute;
}

.app {
	width: 71px;
	margin-top: 659px;
}

.app1 {
	margin-left: 65px;
}

.fullscreen4 {
	background-color: purple;
}

.all {

}

.top {
	position: fixed;
	top: 0;
}

#overlay {
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-color: transparent;
}

.moving {
	background-color: blue;
}